# Package managment
etc="/etc"
run="/run"
usr="/usr"
var="/var"
bin="$usr/bin"
lib="$usr/lib"
shr="$usr/share"

Root="/"
PkgExt=".pkg"
Recipe="recipe"
ChfDir="$var/lib/cheflex"
LstDir="$ChfDir/lst"

# Build Environment
BldDir="$HOME/.cook"
GrpDir="$BldDir/grp"
PkgDir="$BldDir/pkg"
SrcDir="$BldDir/src"
TmpDir="$BldDir/tmp"

# Compiler, Linker and Make Flags
CHOST="x86_64-unknown-linux-gnu"
CFLAGS="-march=x86-64 -mtune=generic -O2 -pipe"
CXXFLAGS="$CFLAGS"
LDFLAGS="-Wl,-O1 -Wl,--as-needed"
MAKEFLAGS="-j1"